html {
	width: 100%;
	margin: 0;
	background:#ddd;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	max-width: 1000px;
	background:white;
	margin: 0 auto 0 auto;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.06em;
	color:#222222;
	box-shadow: 0 0 15px grey;
}

p {
	line-height:1.5em;
}

#wrapper {
	min-width: 95%;
	margin: 20px 0;
	padding: 10px;
}

a {
	color: #088fa3;
}
a:hover {
	color: #163b41;
}

.nav{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:50px -10px 5px -10px;
	padding:0;
	text-align:center;
	background-color:#088fa3;
}
.nav li{
	display:inline;
}
.nav a{
	display:inline-block;
	padding:10px;
	color: white;
	text-decoration: none;
}
.nav a:hover {
	background:black;
}

h2 a {
	float:right;
	padding: 0 1%;
}

.section h2 {
	border-bottom: 3px solid #163b41;
	padding-bottom: 7px;
	/* padding-left: 1%; */
	color: #163b41;
	clear:both;
	display:block;
}

.section ul {
	padding-left: 1.35em;
	line-height:1.3em;
}

.welcome {
	margin-top: 0 !important;
}

.section {
	width: 96%;
	max-width: 900px;
	margin: 45px auto 0 auto;
	padding-top:45px;
}

.bigIcon i {
	font-size: 2.5em;	
}
.bigIcon span {
	vertical-align: middle;
	display: inline-block;
	margin-bottom:1.25em;
	padding-left:14px;
}

#footer {
	background-color:#088fa3;
	color:white; 
	padding: 30px; 
	text-align: center;
	padding-bottom:50px;
	margin-bottom:50px;
}

#footer img {
	width:30%;
	min-width:220px;
	margin:20px;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.citation {
	border: 1px solid #5d959e;
	padding: 0 0.9em 1.1em 0.9em;
	margin-bottom: 1em;
	/* padding-bottom:0.9em; */
	border-radius:0.2em;
	background:#fdfdfd;
}

.citation a {
	background:#baebf3;
	border: 1px solid #163b41;
	border-radius:0.2em;
	padding:0.3em 0.5em;
	line-height:0;
	font-size:0.9em;
	text-decoration: none;
	color:#163b41 !important;
	cursor: default;
}

.citation a:hover {
	background:#088fa3;
	color: #fff !important;
}

.bibtex {
	background:#ededed;
	border:1px solid #aaa;
	border-radius:0.2em;
	font-family: 'PT Mono', monospace;
	font-size:0.65em;
	padding:2%;
	white-space: pre-line;
	/* white-space: pre; */
	line-height: 1.5em;

}

.citation span {
	display:block;
	margin-bottom:0.3em;
}

.citation .work {
	font-weight:bold;
	font-size:1.1em;
}
.citation .publication {
	font-style:italic;
}
.citation .authors {
	margin-bottom:1.4em;
}
.citation .year {
	float:right;
	margin:-1em -0.9em 6em 0.5em;
	padding:0.3em 0.5em;
	background-color: #ddd;
	color:#163b41;
	border-bottom: 1px solid #5d959e;
	border-left:  1px solid #5d959e;
	border-radius: 0 0.175em 0 0.175em;
	font-weight:bold;
}

.project {
	border: 1px solid #5d959e;
	padding: 0 0.9em 1.1em 0.9em;
	margin-bottom: 1em;
	/* padding-bottom:0.9em; */
	border-radius:0.2em;
	background:#fdfdfd;
}

.project a {
	background:#baebf3;
	border: 1px solid #163b41;
	border-radius:0.2em;
	padding:0.3em 0.5em;
	line-height:0;
	font-size:0.9em;
	text-decoration: none;
	color:#163b41 !important;
	cursor: default;
}

.project a:hover {
	background:#088fa3;
	color: #fff !important;
}

.project span {
	display:block;
	margin-bottom:0.3em;
}

.project .projectname {
	font-weight:bold;
	font-size:1.1em;
}

.project .students {
	font-style:italic;
}

.project .description {
	margin-bottom:1.4em;
}

.project .year {
	float:right;
	margin:-1em -0.9em 6em 0.5em;
	padding:0.3em 0.5em;
	background-color: #ddd;
	color:#163b41;
	border-bottom: 1px solid #5d959e;
	border-left:  1px solid #5d959e;
	border-radius: 0 0.175em 0 0.175em;
	font-weight:bold;
}

.section h3 {
	background-color: #eee;
	color:#163b41;
	border: 1px solid #163b41;
	/* text-align:center; */
	border-radius:0.2em;
	padding: 0.25em 0.75em;
	font-size:1.15em;
	margin-top:2em;
}

#publications h3 {
	width:4.2em;
	text-align:center;
	display: inline-block;
}

.person {
	font-size:1.25em;
	line-height:1.8em;
}

.student {
	font-size:1.1em;
	line-height:1.5em;
}

/* HEADER FOR DIFFERENT SCREEN SIZES */

/*SMALL SCREENS*/
@media screen and (max-width: 1000px) {
	.big-title {
		width: 95%;
		margin: 50px auto 40px auto;
		text-align: center;
	}
	.big-title img {
		/* margin-top: 20px; */
		margin-bottom:12px;
		width: 100px;
		max-width: 70%;
	}
	.big-title h1 {
		font-weight: normal;
		text-transform: uppercase;
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 2.1em;
		font-weight: bold;
		color: #163b41;
		margin:0;
		
	}
	.big-title h2 {
		font-weight: normal;
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 1.3em;
		color:#088fa3;
		font-weight: normal;
		margin:0;
	}
	.big-title h3 {
		font-weight: normal;
		font-size: 1em;
		color:gray;
		margin-top:0;
	}
  
  /* .side_img {
    display: block;
  }
  .side_img .slimg {
    max-width:30%;
    width:130px;
    margin:0;
  }
  .side_img .slimg img {
    width:100%;
  }
  .side_img p {
    padding-top:0 !important;
  } */

  .side_img {
    display: flex;
  }
  .side_img .slimg {
    order:1;
    float:left;
    width:16%;
    min-width:110px;
    margin-right:15px;
	margin-top: 12px;
  }
  .side_img .slimg img {
    width:100%;
  }
  .side_img p {
    order:2;
    margin-top:0;
  }

  .side_img_student {
    display: flex;
	margin: 10px 0 5px 0;
  }
  .side_img_student .slimg {
    order:1;
    float:left;
    width:8%;
    min-width:90px;
    margin-right:15px;
  }
  .side_img_student .slimg img {
    width:100%;
  }
  .side_img_student p {
    order:2;
    margin-top:0;
  }

}

/*BIG SCREENS*/
@media screen and (min-width: 1000px) {
	.big-title {
		max-width: 95%;
		margin: 20px auto 40px auto;
		text-align:center;
		padding-top:18px;
	}
	.big-title img {
		height: 128px;
		display:inline-block;
		vertical-align: middle;
	}
	#header_frame {
		height: 128px;
		display:inline-block;
		max-width:100%;
		margin:0 auto;
	}
	#title {
		display:inline-block;
		vertical-align: middle;
		margin-left:14px;
		text-align:left;
	}
	.big-title h1 {
		font-weight: normal;
		text-transform: uppercase;
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 2.1em;
		font-weight: bold;
		color: #163b41;
		margin:7px 0 0 0 ;
	}
	.big-title h2 {
		font-weight: normal;
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 1.3em;
		color:#088fa3;
		font-weight: normal;
		margin:0;
	}
	.big-title h3 {
		font-weight: normal;
		font-size: 1em;
		color:gray;
		margin:0;
		padding-bottom:0.4em;
	}
  
  .side_img {
    display: flex;
  }
  .side_img .slimg {
    order:1;
    float:left;
    width:16%;
    min-width:110px;
    margin-right:15px;
	margin-top:4px;
  }
  .side_img .slimg img {
    width:100%;
  }
  .side_img p {
    order:2;
    margin-top:0;
  }

  .side_img_student {
    display: flex;
	width: 48%;
	margin-right: 2%;
	float:left;
	margin: 15px 2% 15px 0;
  }
  .side_img_student .slimg {
    order:1;
    float:left;
    width:8%;
    min-width:90px;
    margin-right:15px;
  }
  .side_img_student .slimg img {
    width:100%;
  }
  .side_img_student p {
    order:2;
    margin-top:0;
  }
}

.row {
	clear: both;
	display:block;
}

/* Making the copy button work: */
textarea {
  position: absolute;
  left: -200%;
}

#years {
	line-height: 2.1em;
}

#years a {
	background:#baebf3;
	border: 1px solid #163b41;
	border-radius:0.2em;
	padding:0.3em 0.5em;
	line-height:0;
	font-size:0.9em;
	text-decoration: none;
	color:#163b41 !important;
	cursor: default;
}

#years a:hover {
	background:#088fa3;
	color: #fff !important;
}

a.pubtop {
	text-align: right;
	display:inline;
	float: right;
	margin-top: 2.8em;
	margin-right: 10px;
}

hr.studentHR {
	/* border-bottom: 1px dotted #cccccc;
	border: 0 0 1px 0 dotted red; */
	/* color:red; */
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom: 0px solid #fff;
	clear:both;
}